<div [style.background-image]="'url(/assets/background/hitori.png)'"
    class="vh-100 p-5">
    <div class="row menu-selection">
        <app-content-selection class="col p-3 h-100" imgSrc='/assets/main_menu/notebook.png' imageText="memo"></app-content-selection>
        <app-content-selection class="col p-3 h-100" imgSrc='/assets/main_menu/notebook.png' imageText="memo"></app-content-selection>
    </div>
    <div class="row menu-selection">
        <app-content-selection class="col p-3 h-100" imgSrc='/assets/main_menu/notebook.png' imageText="memo"></app-content-selection>
        <app-content-selection class="col p-3 h-100" imgSrc='/assets/main_menu/notebook.png' imageText="memo"></app-content-selection>
    </div>
</div>
