<div [style.background-image]="'url(/assets/background/hitori.png)'"
    class="p-5">
    <div class="d-flex justify-content-around">
        <app-content-selection imgSrc='/assets/main_menu/notebook.png' imageText="notebook"></app-content-selection>
        <app-content-selection imgSrc='/assets/main_menu/notebook.png'></app-content-selection>
    </div>
    <div class="d-flex justify-content-around">
        <app-content-selection imgSrc='/assets/main_menu/notebook.png'></app-content-selection>
        <app-content-selection imgSrc='/assets/main_menu/notebook.png'></app-content-selection>
    </div>
</div>
