<div class="row">
    <app-content-selection class="col" imgSrc='/assets/main_menu/notebook.png' imageText="notebook"></app-content-selection>
    <app-content-selection class="col" imgSrc='/assets/main_menu/notebook.png' imageText="notebook"></app-content-selection>
</div>
<div class="row">
    <app-content-selection class="col" imgSrc='/assets/main_menu/notebook.png' imageText="notebook"></app-content-selection>
    <app-content-selection class="col" imgSrc='/assets/main_menu/notebook.png' imageText="notebook"></app-content-selection>
</div>